# common
python-dotenv
pandas
colorama
pyyaml

# LLMs
langchain==0.1.11
langchain-openai
rouge-score
bert-score

# # QuickStart (currently unused)
# chromadb
# # sentence-transformers
# jupyter
# unstructured
# markdown
# tqdm
